#platform {
	text-align: center;
	width: 100px;
	height: 175px; 
}

.wrapper {
	text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

#button {
	box-shadow: 3px 4px 0px 0px #a1aeb3;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:17px;
	padding:3px 21px;
	text-decoration: none;
	text-shadow:0px 1px 0px #e1e2ed;
}
#button:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
#button:active {
	position:relative;
	top:1px;
}

#reset {
	box-shadow: 3px 4px 0px 0px #a1aeb3;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:17px;
	padding:3px 21px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
#reset:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
#reset:active {
	position:relative;
	top:1px;
}

#score-board {
	margin: 0 auto;
}

#score-board td {
	padding: 10px;
}
#description {
	font-family: 'coming soon', cursive;
}
#score {
	font-family: 'coming soon', cursive;
}

/* Customizing main menu. */

body{
	background-image: url("/images/menu-background.png");
	background-size: cover;
	background-repeat: repeat-y;
}

#main-menu{
	background-color: rgba(255, 255, 255, 0.85);
	border: 3px dashed blue;
	padding-bottom: 25px; 
}

#main-menu h1{
	font-family: 'Indie Flower', cursive;
	text-decoration: overline;
	text-decoration-style: wavy;
	font-weight: 900;
	font-size: 65px;
	text-shadow: 4px 4px lightgrey;
}

#main-menu h2{
	font-family: 'Coming Soon', cursive;
	font-size: 25px;
	text-shadow: 3px 3px lightgrey;
}

#main-menu #username{
	height: 6vh;
	width: 50vw;
	font-family: 'Coming Soon', cursive;
	font-size: 25px;
	font-weight: bold;
	border: 3px solid lightskyblue;
	text-shadow: 3px 3px lightgrey;
}

#main-menu button{
	height: 7vh;
	width: 100px;
	font-family: 'Coming Soon', cursive;
	font-size: 25px;
	font-weight: bold;
	border-color: lightgreen;
	border-width: 3px 3px 3px 3px;
	background: linear-gradient(to bottom, #f3f3f3 0%, rgb(194, 202, 194) 100%);
}

#main-menu button:active {
	background: linear-gradient(to bottom, rgb(184, 197, 183) 0%, #f3f3f3 100%);
	background-color:#bab1ba;
}
