#platform {
	text-align: center;
	width: 100px;
	height: 175px; 
}

.wrapper {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

#button {
	box-shadow: 3px 4px 0px 0px #a1aeb3;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:17px;
	padding:3px 21px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
#button:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
#button:active {
	position:relative;
	top:1px;
}

#reset {
	box-shadow: 3px 4px 0px 0px #a1aeb3;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:17px;
	padding:3px 21px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
#reset:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
#reset:active {
	position:relative;
	top:1px;
}